<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aristocrat Messenger</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=MedievalSharp&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/libs/leaflet/leaflet.css"/>
    <script>
        if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>
<body class="min-h-dvh flex flex-col bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">

<header class="bg-stone-700 dark:bg-stone-900 text-white p-4 shadow-md flex justify-between items-center">
    <h1 class="text-2xl font-semibold select-none">Aristocrat Messenger</h1>
</header>

<!--<div class="flex flex-row grow">-->
<!--    <div class="grow"></div>-->
<main id="content" class="mx-auto w-full md:w-2/3 lg:w-1/2 px-8 md:px-0 lg:px0 grow flex justify-center py-4">
</main>
<!--    <div class="grow"></div>-->
<!--</div>-->
<footer class="bg-stone-700 dark:bg-stone-900 text-white text-center p-4 mt-auto text-sm">
    &copy; <span id="footer-year">2025</span> a ChrisChris Experience
</footer>

<script src="/libs/leaflet/leaflet.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/app.js"></script>
<script>
    // Set current year in footer
    document.getElementById('footer-year').textContent = new Date().getFullYear();
</script>
</body>
</html>